//head
include layouts/head

body
    div.wrap
        //header
        include layouts/header/header



        //sections
        include sections/about/about

        include sections/movements/movements



        //footer
        include layouts/footer/footer
